{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jest"],
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "react/jsx-uses-vars": 1
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "jest/globals": true
  }
}
