# Logs
logs
*.log

# Diagnostic
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Dependencies
node_modules/

# TypeScript
*.tsbuildinfo

# NPM
.npm
npm-debug.log*

# Eslint
.eslintcache

# Builds
.cache
/build
/data

# VS Code
.vscode/*
!.vscode/extensions.json

# Playwright
/e2e/test-results/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
